@page "/admin"
@using gitPipeline.Data
@using Microsoft.AspNetCore.Components

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<style>
    .container {
        max-width: 80%;
        margin: 0 auto;
    }

    h3 {
        margin-top: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tbody tr:last-child td {
        border-bottom: none;
    }

    p {
        margin-top: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: inline-block;
        width: 120px;
    }

    input[type="date"],
    input[type="time"],
    input[type="number"],
    textarea {
        width: 65%;
        padding: 5px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

    .btn-submit {
        padding: 8px 12px;
        background-color: green;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn-del{
        padding: 8px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn-submit:hover {
        background-color: #45a049;
    }

    .color-danger{
      color: red
    }
</style>

<div class="container">
    <h3>Maintenance Requests</h3>

    @if (AdminManagementComponent.MaintenanceRequests.Count > 0)
    {
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Duration</th>
                    <th>Reason</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var maintenanceRequest in AdminManagementComponent.MaintenanceRequests)
                {
                    <tr>
                        <td>@maintenanceRequest.MaintenanceScheduleId</td>
                        <td>@maintenanceRequest.Date</td>
                        <td>@maintenanceRequest.Time</td>
                        <td>@maintenanceRequest.Duration</td>
                        <td>@maintenanceRequest.Reason</td>
                        <td>
                            <button class="btn-del" @onclick="() => CancelMaintenance(maintenanceRequest.MaintenanceScheduleId)">
                                <i class="color-danger fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }
    else
    {
        <p>No maintenance requests found.</p>
    }

    <h3>Schedule Maintenance</h3>

    <div>
        <div class="form-group">
            <label>Date:</label>
            <input type="date" @bind="newMaintenanceRequest.Date" />
        </div>

        <div class="form-group">
            <label>Time:</label>
            <input type="time" @bind="newMaintenanceRequest.Time" />
        </div>

        <div class="form-group">
            <label>Duration (in hours):</label>
            <input type="number" min="1" max="24" @bind="newMaintenanceRequest.Duration" />
        </div>

        <div class="form-group">
            <label>Reason:</label>
            <textarea @bind="newMaintenanceRequest.Reason"></textarea>
        </div>

        <button class="btn-submit" @onclick="ScheduleMaintenance">Schedule</button>
    </div>
</div>

@code {
    private MaintenanceRequest newMaintenanceRequest = new MaintenanceRequest();

    [Inject]
    public AdminManagement AdminManagementComponent { get; set; }

    protected override void OnInitialized()
    {
        newMaintenanceRequest.Date = DateTime.Today;
        AdminManagementComponent.CheckMaintenance();
    }

    private void ScheduleMaintenance()
    {
        AdminManagementComponent.ScheduleMaintenance(newMaintenanceRequest);
        newMaintenanceRequest = new MaintenanceRequest();
    }

    private void CancelMaintenance(int maintenanceId)
    {
        AdminManagementComponent.CancelMaintenance(maintenanceId);
    }
}
